@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


@media screen and (max-width:425px){
    html{
        font-size:10px;
    }
}
@media screen and (min-width:425px){
    html{
        font-size:10px;
    }
}
@media screen and (min-width:768px){
    html{
        font-size:11px;
    }
}
@media screen and (min-width:1024px){
    html{
        font-size:12px;
    }
}
@media screen and (min-width:1200px){
    html{
        font-size:14px;
    }
}
@media screen and (min-width:1600px){
    html{
        font-size:16px;
    }
}
.wl_sp_nav_btns_parent{
    display: flex;
    align-items: center;
}
.wl_sp_nav_btns_login{
    margin: 1.1rem;
    border: 2.5px solid #4649EE;
    border-radius: 15px;
    background: none;
    padding: 0.6rem 1.8rem;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.35rem;
    line-height: 1.5rem;
    letter-spacing: 0.035rem;
    color: #4446E9;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
}
.wl_sp_nav_btns_signup{
    box-sizing: border-box;
    margin: 1.1rem;
    border: 2.5px solid #4649EE;
    border-radius: 0.7vw;
    background: #4649EE;
    padding: 0.6rem 1.8rem;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.35rem;
    line-height: 1.5rem;
    letter-spacing: 0.035rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
.wl_sp_nav_btns_login:hover{
    box-shadow: 0 0 0.25rem #000;
}
.wl_sp_nav_btns_signup:hover{
    background: none;
    color: #4649EE;
}
.wl_sp_nav_btns_signup:active{
    background: #4649ee63;
}
.wl_sp_nav_btns_login:active{
    background: #4649ee4d;
}
.wl_sp_hm_rcap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    margin: 1.35rem 0;
}
.wl_sp_hm_rcap_nrml{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    letter-spacing: 0.04rem;
    color: #2F2A69;
}
.wl_sp_hm_rcap_head{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.07rem;
    text-align: center;
    letter-spacing: 0.04rem;
    color: #2F2A69;
}
.wl_sp_hm_rcap_ital{
    font-style: italic;
}